<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Consumidor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center">
  <h1>Pedidos</h1>
    <div >
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome Restaurante</th>
                <th scope="col">Pedido</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Aumentar</th>
                <th scope="col">Diminuir</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido : ${sessionPedidos}">
                <td th:text="${pedido.nomeRestaurante}"></td>
                <td th:text="${pedido.nome}"></td>
                <td th:text="${pedido.quantidade}"></td>
                <td th:text="${pedido.preco}"></td>
                <td><a th:href="@{/aumentar/{id}(id=${pedido.id})}">Aumentar</a></td>
                <td><a th:href="@{/diminuir/{id}(id=${pedido.id})}">Diminuir</a></td>
            </tr>
            </tbody>
        </table>

        <p>Preço total: <span th:text="${precoTotal}"></span></p>
    </div>
  <div >
      <button>
        <a href="/index">
            Restaurantes
        </a>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>